.mainContainer {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1152px) {
  .mainContainer {
    display: block;
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
  }
}

.video-container {
  position: relative;
  margin-top: 8px;
}

.video-container:before {
  display: block;
  content: '';
  width: 100%;
  padding-bottom: 56.25%;
}

#video-container video {
  width: 100%;
  height: 100%;
}

#video-container button {
  transition: all 0.2s ease-in-out;
}

#video-container button:hover {
  transform: scale(1.1);
}

#video-container .arrow-right {
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  margin-top: 5rem;
  border-color: transparent transparent transparent gray;
  border-width: 20px 0 20px 40px;
  border-style: solid;
}

.centered {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
